# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage
.playwright
test-results
playwright-report

# next.js
.next/
out/
build
dist

# bun
bun.lock
bun.lockb

# misc
.DS_Store
*.pem
.vscode
.idea
*.swp

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env*.local
.env
!.env.example

# vercel
.vercel

# cloudflare workers (future)
.wrangler/

# typescript
*.tsbuildinfo
next-env.d.ts
