modules = ["web", "nodejs-20", "python-3.12", "postgresql-16"]
[agent]
expertMode = true
stack = "BEST_EFFORT_FALLBACK"
integrations = ["javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
SUPABASE_URL = "https://mfxnghmuccevsxwcetej.supabase.co"
ORDERBOOK_EMAIL_FROM = "noreply@mymint.co.za"
MINT_APP_URL_DEV = "https://mint-development.vercel.app/"
MINT_APP_URL_LIVE = "https://app.mymint.co.za/"
ORDERBOOK_EMAIL_TO = "orderbook@mymint.co.za"
ORDERBOOK_ENABLE_INTERVAL_SCHEDULER = "false"
CRON_SECRET = "995cd376-b8e1-4ef2-a252-50b4b081b8f6"


[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 60000
